.dropdown-menu {
  display: block !important;
  width: max-content;
  min-width: max-content;
  max-width: max-content;

  li {
    white-space: normal;
  }
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: black;
  text-decoration: none;
  background: none;
}
