<ul class="dropdown-menu context-menu">
    <!-- Fill Color -->
    <li class="dropdown-item">
        <label class="form-label" for="fillColor">Fill Color:</label>
        <input type="color" (input)="changeElementFillColorEmitter($event, 'fillColor')" id="fillColor"
            class="form-control p-0" [(ngModel)]="fillColor">
    </li>
    <!-- Opacity -->
    <li class="dropdown-item">
        <label for="opacity" class="form-label">Opacity:</label>
        <input type="range" min="0" max="1" step=".01" class="form-range" id="opacity"
            (input)="changeElementFillColorEmitter($event, 'opacity')" [(ngModel)]="opacity">
    </li>
    <!-- Stroke Color -->
    <li class="dropdown-item">
        <label class="form-label" for="strokeColor">Stroke Color:</label>
        <input type="color" (input)="changeElementFillColorEmitter($event, 'strokeColor')" id="strokeColor"
            class="form-control p-0" [(ngModel)]="strokeColor">
    </li>
    <!-- Stroke Width -->
    <li class="dropdown-item">
        <label for="strokeWidth" class="form-label">Stroke Width:</label>
        <input type="range" min="0" max="20" step="1" class="form-range" id="strokeWidth"
            (input)="changeElementFillColorEmitter($event, 'strokeWidth')" [(ngModel)]="strokeWidth">
    </li>
    <!-- Rotation -->
    <li class="dropdown-item" *ngIf="type === 'ellipse'">
        <label for="rotation" class="form-label">Rotation:</label>
        <input type="range" min="0" max="360" step="1" class="form-range" id="rotation"
            (input)="changeElementFillColorEmitter($event, 'rotation')" [(ngModel)]="rotation">
    </li>
    <li class="ps-2 pe-2">
        <div class="d-grid">
            <button class="btn btn-outline-secondary" (click)="duplicateElementEmitter()">Duplicate
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-files"
                    viewBox="0 0 16 16">
                    <path
                        d="M13 0H6a2 2 0 0 0-2 2 2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 13V4a2 2 0 0 0-2-2H5a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1zM3 4a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4z" />
                </svg></button>
        </div>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
    <li class="ps-2 pe-2">
        <div class="d-grid">
            <button class="btn btn-outline-danger" data-bs-toggle="modal"
                data-bs-target="#deleteElementPrompt">Delete</button>
        </div>
    </li>
</ul>