svg {
  border: solid 1px black;
  background-repeat: no-repeat;
}

app-menu {
  position: absolute;
  z-index: 9999;
  width: max-content;
  height: auto;
  display: none;
}

polygon,
ellipse,
circle {
  --animate-duration: 0.6s;
}
